html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}


.overlay, .overlay svg {
  height: 100vh;
  width: 100%;
}

.overlay .clock {
  font-family: sans-serif;
  font-weight: bold;
  fill: rgba(255, 255, 255, 0.5);
  stroke: none;
  stroke-width: 1px;
}

.route path {
  fill: none;
  stroke: none;
  stroke-width: 3px;
}

.route .bus {
  stroke: black;
  stroke-width: 1.5px;
}

.route circle {
  stroke: none;
  stroke-width: 1.5px;
}
